@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Coming+Soon&family=Homemade+Apple&family=Josefin+Sans:wght@300&display=swap');
* {
  box-sizing: border-box;
}
body {
     background-color: #FFFFFF;
     font-family: 'Josefin Sans', sans-serif;
     margin: 0;
     -ms-overflow-style: none;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     min-height: 100vh;
   }
body::-webkit-scrollbar {
      display: none;
    }
nav {
     font-family: 'Josefin Sans', sans-serif;
     text-decoration: none;
     background: #c1dbe3;
     margin-left: -15px;
     margin-right: -15px;
     margin-bottom: -30px;
    }
nav a {
     padding: 15px;
     color: #000000;
     text-decoration: none;
     font-size: 20px;
     border-radius: 4px;
     display: inline-flex;
     flex-wrap: wrap;
     justify-content: space-between;
   }
header {
     padding: 30px;
     text-align: center;
     background: #c1dbe3;
     font-size: 30px;
     width:100%;
     box-sizing: border-box;
   }
nav a:hover {
     background-color: #F1AB86;}
h1 {
     font-family: 'Homemade Apple', cursive;
     text-align: center;
     font-size: 24px;
     background: #c1dbe3;
     margin-left: -15px;
     margin-right: -15px;
     margin-top: -12px;
     width: 100%;
     margin-bottom: -15px;}
h1 a {
     color: black;
     text-decoration: none;}
h2, h4 {
     font-family: 'Josefin Sans', sans-serif;
     text-align: center;
     font-size: 25px;}
h3 {
 color: black;
 font-family: 'Homemade Apple', cursive;
 text-align: center;
 font-size: 33px;
 line-height: .5;
 padding-top: 10px;
}
footer {
  background-color: #c1dbe3;
	box-sizing: border-box;
	text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
p {
     font-family: 'Josefin Sans', sans-serif;
     line-height: 1.5;
     margin-bottom: 15px;
}
a {
  text-decoration: none;
  color: #80727B;
}
ul {
     list-style: none;
     list-style-position: inside;
     padding-left: 7vh;
     line-height: 2;
     margin: auto;
     width: 65%;
  }
li:before {
     content: "-" ;
     color: #C57B57;
     font-weight: bold;}
li {
     line-height: 2;
     font-size: 17px;}
.right {
    float: right;
    margin: 0 0 0 15px;
    width: 125%;
    padding-right: 63px;
  }

.length {
  width: 100%;
  padding-right: 0vh;
  padding-left: 45px;
}
.photos {
    float: left;
    width: 31%;
    padding: 10px;
}
.length::after {
    content: "";
    display: table;
    clear: both;
}
.bottom_nav a{
  text-align: center;
  background: #c1dbe3;
	line-height: 1.8;
	text-decoration: none;
	color: black;
  padding-right: 25px;
}
.bottom_nav{
  display: flex;
  flex-flow: column;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
}
.social{
  float:right;
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3vh;
  padding-bottom: 5vh;
  background: #c1dbe3;
}
.Copyright{
  float:left;
  padding-top: 30px;
}
.list{
     margin: auto;
     width: 90%;
     padding-left: 5%;
     padding-right: 5%;}
.rules {
     text-align: center;
     list-style-type: none;
     font-size: 23px;
     font-weight: 600;
     padding-bottom: 15px;
     padding-top: 15px;
}

.title {
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
  margin-top: -95px;
}
.dress {
     font-style: italic;}
hr {
     width: 45%;
     color: black;
   }
.ordnung {
  font-size: 17px;
  padding-left: 10%;
  padding-right: 10%;
}
.biblequote {
  font-size: 20px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.fa {padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
  position: relative;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
    color: white;
    background: #007bb5;
}
.fa-image {
  background: #125688;
  color: white;
}
.map {
   overflow: hidden;
   padding-bottom: 50%;
   position: relative;
   height: 0;
   padding-right: 40px;
   padding-left: 40px;
}
iframe{
    left: 0;
    top: 0;
    width: 100%;
    position: static;
  }
.container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 15px;
}
.about_the_artist{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
    padding-top:5px;
    font-size: 18px;
  }

.text {
    font-size: 18px;
    vertical-align: bottom;
    padding-left: 10%;
}
.boys {
  float: right;
  margin: 0 0 0 15px;
  width: 70%;
  padding-right: 63px;
}

.copyblock{
  font-size: 18px;
  vertical-align: bottom;
  padding-left: 10%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 45px;
  justify-content: center;
}
.row > .column {
  padding: 0 ;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column{
  height: 250px;
  width: 400px;
  overflow: hidden;
}

.column img{
  width: 150%;
  height:auto;
}

.vertical  {
    width:45%;
    margin: auto;
}
.modal .column {
  float: left;
  width: 100px;
  height: 75px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  justify-content: center;
  background-color: white;
  margin: auto;
  padding: 0;
  width: 65%;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 65px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: static;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -30px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next{
      display:inline;
       float:right;
       margin-right:auto;
       text-decoration:none;
}
.prev{
     display:inline;
     float:left;
     margin-left:80px;
     text-decoration:none;
 }
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.2);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: white;
  padding: 2px 16px;
  color: black;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
    padding: 25px;
}

@media screen and (min-width: 800px) {
    img {
        margin: 1.5em;
   }
   h1 {
     font-size: 50px; }
}
@media only screen and (max-width: 799px) {
  h3 {
      font-size: 20px;
  }
  nav a {
      font-size: 15px;
  }
  .photos {
    width: 100%;
  }
  .right {
    width: 4000px;

  }
  .modal-content {
    width: 100%;
  }
  .column {
    float: left;
    width: 400px;
    height:auto;
    overflow: hidden;
    margin: 5px;
}
.next, .prev {
    margin-top: auto;
}
.prev{
    margin-left: auto;
}
.close {
    margin-top: -25px;
}
.numbertext{
    display: none;
}
.thumbnails{
    margin-left: 30px;}
}
