@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
}

nav {
  text-align: left;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    background: #c1dbe3;
    margin-left: -15px;
    margin-right: -15px;
}

nav a {
  display: inline-block;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 4px;
}

header {
  padding: 30px;
  text-align: center;
  background: #c1dbe3;
  color: white;
  font-size: 30px;
  margin: -12px;
    }

nav a:hover {
  background-color: #F1AB86;
}

h1 {
font-family: 'Cedarville Cursive', cursive;
text-align: center;
font-size: 65px;
background: #c1dbe3;
margin-bottom: -5px;
margin-left: -15px;
margin-right: -15px;
margin-top: 15px;
}

h1 a {
color: black;
text-decoration: none;
}

h2, h3, h4 {
font-family: 'Coming Soon', cursive;
text-align: center;
}
p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  text-align: center;
  line-height: 1.5;
  margin-left: 40px;
  margin-right: 40px;
}
ul {
  list-style: none;
  margin-left: 100px;
  margin-right: 100px;
}
li:before { content: "-" ;
color: #C57B57;
font-weight: bold;
}
li{
  line-height: 1.5;
}

img {margin: 40px;
  width: 90%;
}

img (min-width: 400px) {
    margin: 40px;
    font-size: 1.5em;
}

img (min-width: 700px) {
    margin: 40px;
    font-size: 2em;
  }
